body {
  background-image: url('../gradient.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Economica', sans-serif;
  height: 100%;
  overflow: hidden;
  padding-bottom: 40px;
  width: 100%;
}

header {
  width: 100vw;
  padding: .6vh 0;
}

.header {
  display: flex;
  color: #ADFF2F;
  font-family: 'Unica One';
  font-size: 4.8vw;
  justify-content: space-around;
  margin: 20px 40px 0;
  text-decoration: none;
  letter-spacing: 10px;
  animation: text 2s 1;
}

main {
  color: #f1fce6;
  font-family: 'Economica', sans-serif;
}

.error-message {
  font-size: 2vw;
  margin-top: 0;
  text-align: center;
}

@keyframes text {
  0% {
    color: black;
  }
  30% {
    color: #493e05;
    letter-spacing: 30px;
  }
}
