.movie-poster {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}

.poster-img {
  border: 1.5px solid #FFDAC6;
  box-shadow: 6px 8px 10px #BABD8D;
  height: 250px;
  width: 200px;
}

.poster-img:hover {
  transform: scale(1.2)
}

.poster-title,
.poster-rating {
  margin: 2px;
  text-decoration: none;
}

.poster-title {
  font-size: 1.5vw;
  margin-top: 20px;
}

.poster-rating {
  font-size: 1vw;
}
