.movie-poster {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}

.poster-img {
  box-shadow: 6px 8px 10px #BABD8D;
  height: 17vw;
  width: 14vw;
}

.poster-img:hover {
  transform: scale(1.2)
}

.poster-title,
.poster-rating {
  margin: 2px;
  text-decoration: none;
}

.poster-title {
  font-size: 1.5vw;
  margin-top: 20px;
}

.poster-rating {
  font-size: 1vw;
}

/*
height: 238px;
width: 200px; */
@media screen and (max-width: 1200px) {
  .poster-img {
    width: 20vw;
    height: 22vw;
  }
}

@media screen and (max-width: 770px) {
  .poster-img {
    width: 28vw;
    height: 30vw;
  }
}

@media screen and (max-width: 420px) {
  .poster-img {
    width: 70vw;
    height: 86vw;
  }
}
