.movie-page {
  display: flex;
  justify-content: center;
  padding: 40px;
  scrollbar-width: thin;
  scrollbar-color: black grey;
}

button {
  background-color: #f1fce6;
  border: 0px;
  border-radius: 5px;
  color: black;
  font-family: 'Economica', sans-serif;
  font-size: 1.5vw;
  padding: 5px;
  text-decoration: none;
}

.side-info {
  display: flex;
  flex-direction: column;
  padding-left: 1.5vw;
  height: 35vw;
  /* overflow: overlay; */
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-img {
  height: 60vh;
}

.movie-title {
  margin: 0px;
  font-size: 2.8vw;
  font-family: 'Unica One', cursive;
  font-size: 2.5vw;
}

.movie-rating {
  font-size: 1.8vw;
}

.movie-plot {
  font-size: 1.5vw;
  width: 90%;
}

.return-button {
  height: 70px;
  width: 8vw;
  margin-right: 2vw;
}

.return-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .movie-page {
    flex-direction: column;
  }
  .page-img {
    height: 40vh;
  }
  .movie-title {
    font-size: 8vw;
    margin-top: 8px;
  }
  .movie-rating {
    font-size: 4vw;
  }
  .return-button {
    height: 50px;
    width: 12vw;
    margin-right: 2vw;
    margin-top: 16px;
  }
  .movie-plot {
    font-size: 7vw;
    width: 90%;
  }
  .side-info {
    align-items: center;
  }
  .title-container {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 770px) {
  .movie-page {
    flex-direction: column;
  }
  .page-img {
    height: 30vh;
  }
  .movie-title {
    font-size: 8vw;
    margin-top: 8px;
  }
  .movie-rating {
    font-size: 4vw;
  }
  .return-button {
    height: 50px;
    width: 12vw;
    margin-right: 2vw;
    margin-top: 16px;
  }
  .movie-plot {
    font-size: 7vw;
    width: 90%;
  }
  .side-info {
    align-items: center;
  }
  .title-container {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .movie-page {
    flex-direction: column;
  }
  .page-img {
    height: 20vh;
  }
  .movie-title {
    font-size: 8vw;
    margin-top: 8px;
  }
  .movie-rating {
    font-size: 4vw;
  }
  .return-button {
    height: 50px;
    width: 12vw;
    margin-right: 2vw;
    margin-top: 16px;
  }
  .movie-plot {
    font-size: 7vw;
    width: 90%;
  }
  .side-info {
    align-items: center;
  }
  .title-container {
    align-items: center;
    flex-direction: column;
  }
}
