.movie-page {
  display: flex;
  justify-content: center;
  padding: 40px;
}

button {
  background-color: #BABD8D;
  border: 0px;
  border-radius: 5px;
  color: black;
  font-family: 'Economica', sans-serif;
  font-size: 1.5vw;
  padding: 5px;
  text-decoration: none;
}

.side-info {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.page-img {
  height: 540px;
}

.movie-title {
  font-family: 'Unica One', cursive;
  font-size: 2.5vw;
}

.movie-rating {
  font-size: 1.8vw;
}

.movie-plot {
  font-size: 1.5vw;
}

.return-button {
  height: 70px;
  width: 8vw;
}
