body {
  background-image: url('./assets/tomatillos.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding-bottom: 40px;
  font-family: 'Economica', sans-serif;
}

h1 {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  font-size: 4.8vw;
  color: #e6c613;
  opacity: 80%;
  text-shadow: 5px;
  font-family: 'Unica One', cursive;
  position: fixed;
}

main {
  color: #FFDAC6;
  font-family: 'Economica', sans-serif;
  overflow: scroll;
}
