form {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.input {
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  font-size: 1.4vw;
  border: 0px;
  border-radius: 5px;
}

button {
  align-items: center;
  display: flex;
  font-size: 1.4vw;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 1.2px;
}

button, .input {
  padding: 5px;
  margin: 5px;
}

.reset-btn {
  height: 50px;
}

.hidden {
  display: none;
}

