.movie-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px;
}

.poster-img {
  border: 1.5px solid #FFDAC6;
  box-shadow: 6px 8px 10px #BABD8D;
  width: 200px;
  height: 250px;
}

.poster-title,
.poster-rating {
  margin: 2px;
}

.poster-title {
  margin-top: 20px;
  font-size: 1.5vw;
}

.poster-rating {
  font-size: 1vw;
}
