.movie-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid orange; */
  margin: 5px;
  /* padding: 10px; */
}

.poster-img {
  border: 1.5px solid grey;
  box-shadow: 6px 8px 10px grey;
  width: 200px;
  height: 250px;
}

.poster-title,
.poster-rating {
  margin: 0;
}
