.movie-page {
  display: flex;
  justify-content: center;
  padding: 40px;
}

button {
  background-color: #BABD8D;
  font-family: 'Economica', sans-serif;
  color: black;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  font-size: 1.5vw;
  text-decoration: none;
}

.side-info {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
}

.page-img {
  height: 30vw;
}

.movie-title {
  margin: 0px;
  font-size: 2.8vw;
  font-family: 'Unica One', cursive;
}

.movie-rating {
  font-size: 1.8vw;
}

.movie-plot {
  font-size: 1.5vw;
}

.return-button {
  height: 70px;
  width: 8vw;
}
