.movie-page {
  display: flex;
  justify-content: center;
  padding: 40px;
  /* overflow: scroll; */
}

button {
  background-color: #BABD8D;
  font-family: 'Economica', sans-serif;
  color: black;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  font-size: 1.5vw;
  text-decoration: none;
}

.side-info {
  display: flex;
  flex-direction: column;
  padding-left: 1.5vw;
  height: 35vw;
  /* border: 2px solid pink; */
  overflow: overlay;
  scrollbar-width: thin;
  scrollbar-color: black grey;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-img {
  height: 35vw;
}

.movie-title {
  margin: 0px;
  font-size: 2.8vw;
  font-family: 'Unica One', cursive;
}

.movie-rating {
  font-size: 1.8vw;
}

.movie-plot {
  font-size: 1.5vw;
  /* width: 25vw; */
  width: 90%;
}

.return-button {
  height: 70px;
  width: 8vw;
  margin-right: 2vw;
}

.return-button:hover {
  transform: scale(1.1);
}